.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
} 

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.banner {
    background-color: #EFC050;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}

#small-brain {
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px gray);
}

.brain-section {
    padding: 20px 50px;
}

#brain {
    color: #505050;
    font-size: 100px;
}

#greets ul {
    list-style-type: none;

}

.avatar {
    background-image: url('../images/brain.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    }

.bold {
    font-weight: 900px;
}

a.gray {
    color: #505050;
}